body{
	font-family: "微软雅黑", "宋体";
	-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
#vue-logo{
	text-align: center;
}

.vue-con{
	width: 900px;
	margin:0 auto;
}
.head .img-logo{
	width: 26px;
	height: 26px;
	margin-right: 10px;
}
.head span{
	display: inline-block;
	vertical-align: top;
}
ul,li{
    list-style-type: none;
}
{
	margin:0 auto;
}
.tabBar{width:250px;height:30px;position:relative; margin:0 auto;}
.tabBar li{
   float:left;margin-right:10px;cursor:pointer;padding:0px 20px;width: 30px;height: 30px;line-height: 30px;text-align: center; background:#42b983;
}
.tabBar li.current{background: pink}
.con div{display:none;width: 400px;height: 400px;text-align:center;margin:90px auto 0px;background-color:#42b983;line-height: 400px;border-radius: 50%;}
.con div.cur{display: block;}
